body {
  font-family: Helvetica, Arial, sans-serif;
  height: 0;
  text-align: center;
  padding: 0;
  width: 80%;
  margin: auto;
}
header {
  background-color: #0fbad6;
  color: #1205e9;
}
h1 {
  display: inline-block;
  width: 400px;
  font-weight: 700;
}
h3 {
  font-size: 36px;
  font-weight: 700;
}
p {
  display: inline-block;
  width: 400px;
  font-weight: 700;
  font-size: 22px;
}
.tiny-description {
  background-color: #1205e9;
  color: #ffffff;
  text-align: justify;
  height: 175px;
  padding: 30px;
  font-size: 20px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5em;
}
main {
  text-align: justify;
}
dt {
  font-size: 22px;
  margin-bottom: 12px;
  margin-top: 36px;
}
dd {
  font-size: 20px;
}
div {
  margin-top: 10px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1205e9;
  height: 50px;
  text-align: center;
  font-size: 22px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
